.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:host{
  min-height: 100vh;
}

#top-image img{
  width: 100%;
  height: auto;
}

figure{
  margin: 0;
  padding: 0;
}

main{
  padding:0 32px 32px 32px;
}

