#nutrition{
  color: rgb(133,70,50);
  font-family: "Young-Serif";
  font-weight: 400;
  font-size:28px;
  margin-bottom:24px;
}

p{
    font-family: "Outfit", serif;
    font-size: 16px;
    font-weight: 400;
    color: #5F564D;
}

section div{
  margin-top: 24px;
  display: flex;
  flex-direction:column;

}

table{
  border-spacing:0;
}

td{
  font-family: "Outfit",serif;
  color:#5F564D;
  padding:12px;
  border-bottom: 1px solid #E3DDD7;
}
tr:last-child td{
  border-bottom:none !important;
}
strong{
  color:#854632;
  font-size: 16px;
}

div p{
  margin-bottom:12px;
}
