h1{
  all:unset;
}

div{
  display:flex;
  flex-direction: column;
  gap: 24px;
}
#title{
  font-family: Young-Serif,serif;
  font-size: 36px;
  color:#312E2C;
}
#description{
  font-family: "Outfit", serif;
  font-size: 16px;
  font-weight: 400;
  color: #5F564D;
}
